# EditorConfig helps maintain consistent coding styles across editors
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

# XML files (pom.xml, etc.)
[*.xml]
indent_style = space
indent_size = 4

# ANTLR grammar files
[*.g4]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

# Batch scripts
[*.bat]
indent_style = space
indent_size = 4
end_of_line = crlf

# Makefiles
[Makefile]
indent_style = tab
